#matriz {
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* 10 columnas iguales */
  gap: 5px;
  max-width: 500px;
  margin: 20px auto;
}

#matriz button {
  padding: 15px;
  font-size: 16px;
  background-color: #c3f0ca;
  border: 1px solid #999;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

#matriz button:hover {
  background-color: #a1e4ad;
}
