
* {
  box-sizing: border-box;
}

body {
  font-family: 'Unbounded';
  background-color: #f0fdf4;
  margin: 0;
  padding: 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

h1 {
    font-size: 24px;
    margin-right: 850;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    color: white;
    margin-left: 10px;
}

header {

    width: 100%;
    height: 60px;
    background-color: #4CAF50;
    display: flex;
    padding-left: 10;
    padding-top: 0px;
    margin-bottom: 40px;

}

#controles {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

#cultivo {
  padding: 6px;
  font-size: 16px;
}

#enviar {
  padding: 6px 12px;
  font-size: 16px;
  background-color: #4caf50;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.matriz-wrapper {
  width: 100%;
  max-width: 95vw;
  display: flex;
  justify-content: center;
}

#matriz {
  display: grid;
  grid-template-columns: repeat(9, 1fr); /* 8 columnas */
  grid-template-rows: repeat(8, 1fr);    /* 9 filas */
  gap: 6px;
  width: 100%;
  max-width: 450px;
  aspect-ratio: 9 / 9;
}

/* Botones */
#matriz button {
  width: 100%;
  height: 100%;
  font-size: clamp(10px, 2vw, 16px);
  border: none;
  border-radius: 6px;
  background-color: #e0f7fa;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

#matriz button:hover {
  filter: brightness(90%);
}

.tooltip {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 6px 10px;
  border-radius: 8px;
  font-size: 14px;
  white-space: pre-line;
  pointer-events: none;
  z-index: 999;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  max-width: 200px;
}








